@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('fundo.jpg'); /* Caminho para a imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */ 
}

#container {
    background-color: #eff2f5;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin: 0 5;
}

#forecast-container {
    background-color: #051c5ce0;
    border-radius: 10px;
}    
#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible {
    outline: none;
   
}

#search button {
    background-color: transparent;
    border:none;
    cursor:pointer;
}

#weather {
    margin-top: 20px;

}

#weather.show {
    display: block;
}

#weather #title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #372f3f
}

#temp {
    display: flex; /* Usando flexbox para alinhar itens em linha */
    justify-content: space-between; /* Espaça os itens entre a esquerda e a direita */
    align-items: flex-start; /* Alinha os itens no topo */
    width: 100%;
    gap: 0px; /* Reduz o espaço entre o left e o right (ajuste o valor conforme necessário) */
}

#left {
    display: block; /* Itens dentro do left ficam empilhados verticalmente */
    text-align: center; /* Centraliza o conteúdo do lado esquerdo */
    margin-left: 10px;
}

#right {
    display: block; /* Itens dentro do right ficam empilhados verticalmente */
    text-align: left; /* Alinha o conteúdo à esquerda */
    margin-right: 10px;
}


#temp_img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Manter a proporção da imagem */
    margin-bottom: 1px; /* Espaçamento abaixo da imagem */
}

#temp_value {
    font-size: 2em; /* Ajuste o tamanho da temperatura */
    font-weight: bold;
    color: #ffffff; /* Cor da temperatura */
    margin-bottom: 10px; /* Espaçamento abaixo da temperatura */
    margin-top: 20px;
}

#temp_description {
    margin-top: 1px; /* Espaçamento entre a imagem e a descrição */
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 550;
    color: #fffefe; /* Cor do texto da descrição */
}


   



#alert img {
    display: flex;
    flex-direction: column;
    align-items: center;


}

#alert img {
    width: 20px;
    margin-top: 20px;

}

#top-image {
    width: 50%; /* Ajuste de largura total da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block;  
    border-radius: 10%;
    margin: 0 auto 10px; /* Centraliza a imagem e adiciona espaço abaixo */
}

/* Link de navegação */
.forecast-link, .back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e6a00b;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para forecast.html */

#forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day-forecast {
    margin-bottom: 16px;
    padding: 10px;
    background-color: #8ac0f7;
    border-radius: 8px;
}

.day-forecast h3 {
    margin: 0;
    font-size: 1.1em;
    color: #333;
}

.day-forecast-items {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.forecast-item {
    flex: 1;
    max-width: 80px;
    text-align: center;
}
.forecast-items-container {
    display: flex;
    justify-content: space-around;
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    .day-forecast {
        padding: 8px;
    }

    .day-forecast h3 {
        font-size: 1em;
    }

    .forecast-item {
        width: 28%;
        font-size: 0.8em;
    }
}


.alert-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #f52b24;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.inpe-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    background-color: #fc5c12;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.alert-link:hover {
    background-color: #c9302c;
}

#additional-info {
    margin-top: 10px; /* Ajuste conforme necessário */
    margin-bottom: 0px;
    font-size: 0.9em; /* Para manter o texto um pouco menor que a temperatura */
    color: #ffffff; /* Cor mais discreta, se desejar */
    font-weight: 550;
}

#additional-info p {
    display: flex;
    align-items: center;
    margin: 5px 0; /* Ajuste o espaçamento vertical */
}

#additional-info i {
    margin-right: 5px; /* Espaçamento entre o ícone e o valor */
    color: #fff9f9; /* Cor mais discreta para os ícones, se desejar */
    font-size: 19px; /* Ajuste o tamanho do ícone (aumente o valor conforme necessário) */
}    

.forecast-link i,
.inpe-link i,
.alert-link i {
    margin-right: 8px; /* Ajuste o valor se quiser mais ou menos espaço */
}
